In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
import joblib as jb

In [7]:
data = pd.read_csv("../../Data/crop_recommendation.csv")
data_en = data.drop("label",axis=1)
data_en

        N   P   K  temperature   humidity        ph    rainfall
0      90  42  43    20.879744  82.002744  6.502985  202.935536
1      85  58  41    21.770462  80.319644  7.038096  226.655537
2      60  55  44    23.004459  82.320763  7.840207  263.964248
3      74  35  40    26.491096  80.158363  6.980401  242.864034
4      78  42  42    20.130175  81.604873  7.628473  262.717340
...   ...  ..  ..          ...        ...       ...         ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507
2196   99  15  27    27.417112  56.636362  6.086922  127.924610
2197  118  33  30    24.131797  67.225123  6.362608  173.322839
2198  117  32  34    26.272418  52.127394  6.758793  127.175293
2199  104  18  30    23.603016  60.396475  6.779833  140.937041

[2200 rows x 7 columns]

In [8]:
scaler = StandardScaler()
array_scaled = scaler.fit_transform(data_en)
data_scaled = pd.DataFrame(array_scaled,columns=data_en.columns)
data_scaled

             N         P         K  temperature  humidity        ph  rainfall
0     1.068797 -0.344551 -0.101688    -0.935587  0.472666  0.043302  1.810361
1     0.933329  0.140616 -0.141185    -0.759646  0.397051  0.734873  2.242058
2     0.255986  0.049647 -0.081939    -0.515898  0.486954  1.771510  2.921066
3     0.635298 -0.556811 -0.160933     0.172807  0.389805  0.660308  2.537048
4     0.743673 -0.344551 -0.121436    -1.083647  0.454792  1.497868  2.898373
...        ...       ...       ...          ...       ...       ...       ...
2195  1.529390 -0.587134 -0.318922     0.228814 -0.227709  0.401395  1.352437
2196  1.312641 -1.163269 -0.417666     0.355720 -0.666947 -0.494413  0.445183
2197  1.827421 -0.617457 -0.358420    -0.293218 -0.191235 -0.138120  1.271418
2198  1.800327 -0.647780 -0.279425     0.129612 -0.869518  0.373904  0.431545
2199  1.448109 -1.072300 -0.358420    -0.397667 -0.498020  0.401096  0.682005

[2200 rows x 7 columns]

In [10]:
data_scaled["label"] = data["label"]
data_scaled.to_csv("output/processed_data/data_scaled.csv",index=False)
data_scaled

,N,P,K,temperature,humidity,ph,rainfall,label
0,1.068797,-0.344551,-0.101688,-0.935587,0.472666,0.043302,1.810361,rice
1,0.933329,0.140616,-0.141185,-0.759646,0.397051,0.734873,2.242058,rice
2,0.255986,0.049647,-0.081939,-0.515898,0.486954,1.771510,2.921066,rice
3,0.635298,-0.556811,-0.160933,0.172807,0.389805,0.660308,2.537048,rice
4,0.743673,-0.344551,-0.121436,-1.083647,0.454792,1.497868,2.898373,rice
...,...,...,...,...,...,...,...,...
2195,1.529390,-0.587134,-0.318922,0.228814,-0.227709,0.401395,1.352437,coffee
2196,1.312641,-1.163269,-0.417666,0.355720,-0.666947,-0.494413,0.445183,coffee
2197,1.827421,-0.617457,-0.358420,-0.293218,-0.191235,-0.138120,1.271418,coffee
2198,1.800327,-0.647780,-0.279425,0.129612,-0.869518,0.373904,0.431545,coffee
2199,1.448109,-1.072300,-0.358420,-0.397667,-0.498020,0.401096,0.682005,coffee

In [12]:
jb.dump(scaler,"output/model/scaler.joblib")

['output/model/scaler.joblib']